@model Expense_Tracker_application.Models.UserVM;
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col">
        <h2>Update New User</h2>
        <form asp-action="Edit"  method="post" enctype="multipart/form-data">
            <input asp-for="UserId" type="hidden" />

            <div class="row mb-2">
                <label class="col-form-label col-md-2">User Name</label>
                <div class="col-md-4">
                    <input class="form-control" asp-for="UserName" />
                </div>
                <div class="col-md-4">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-2">Expense Category</label>
                <div class="col-md-4">
                    <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.categories,"CategoryId","CategoryName"))">

                        <option value="0" selected="selected">-- Select Category --</option>
                        @*<option value="House Rent">House Rent</option>
                            <option value="Water Bill">Water Bill</option>
                            <option value="Electric Bill">Electric Bill</option>
                            <option value="Groceries">Groceries</option>
                            <option value="Uber">Uber</option>
                            <option value="Medications">Medication</option>*@

                    </select>
                </div>
                <div class="col-md-4">
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-2">ExpenseDate</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" asp-for="ExpenseDate" />
                </div>
                <div class="col-md-4">
                    <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-2">Amount</label>
                <div class="col-md-4">
                    <input class="form-control" asp-for="Amount" />
                </div>
                <div class="col-md-4">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="offset-2 col-md-4">
                    <button class="btn btn-success" type="submit">Submit</button>
                    <a asp-action="Index" asp-controller="User">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
